
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(137, 207, 240);

}
.about-img{
    justify-content: center;
    align-content: center;
    display: flex;
    margin: auto;
    width: 25%;
    border: 3px solid;
    padding: 10px;
}

#img1{
    justify-content: center;
    align-content: center;
    display: block;
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
    
}
.img-fluid {
    width: 350px !important;
    height: 300px !important;
}
.add {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border-color:  white;
    color: white;
    border: solid   ;
    background-color: transparent;

}
.add:hover{
    border: solid rgb(137, 207, 240);
    background-color: white;
    color: rgb(137, 207, 240);
}
.card-style:hover{
    transform: scale(0.9);
    transition: ease-out 1s;
}
/* footer{
    margin-bottom: auto;
    font-style: italic;
    background-color: black;
    color: white;
    text-align: center;
} */
.card-style {
    width: 350px !important;
    background-color: transparent !important;
    border: solid white;
}
.Table{
    border: solid white;
}
/* .card{
    display: flex !important;
    flex-wrap: wrap !important;
} */
.car {
    width: 300px !important;
}
/* .card>*{
flex: none !important;
padding: 1cap !important;
border: 200rem !important;
} */
.card-body{
    height: 150px;
    width: 350px;

   

}

/* contact */

  .contact-form-wrapper {
    padding: 100px 0;
  }
  
  .contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 400px;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
  }
  
  .contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
  }
  
  .contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
  }
  
  .contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control:focus {
    border-color:  rgb(137, 207, 240);;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px  rgb(137, 207, 240);;
  }
  
  .contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  
  .contact-form .description {
    color: #aeb4b9;
    font-size: 14px;
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper {
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color:  rgb(137, 207, 240);;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .contact-form .submit-button-wrapper input:hover {
    background-color:  rgb(137, 207, 240);
  }